* {
  /*启用盒模型*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
html{
  height:100%;
  /*禁止当手机由竖屏转向横屏的时内容中的文字自动调整大小*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust:100%;
  /*Mobile上点击链接高亮的时候设置颜色为透明*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*在IE10之上版本，不允许默认的touch行为*/
  -ms-touch-action: none;
}
body{
  height:100%;
  /*background: #000;*/
  /*background:#f30003;*/
  background:#f30003 url(../image/bg.png) 0 0 no-repeat; 
  background-size: 100%;
  /*手机字体*/
  font-family:DroidSansFallback,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
  display: block;
}
audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  text-decoration:none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border:none;
  outline:0 none;
  outline-style:none;
}
a:active,a:hover {
  outline: 0;
}
em,i{font-style: normal;}
img{
  border:none;
}
ul,ol{
  list-style-type:none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}
/*常用属性*/
.show{
  display: block;
}
.showInlineBlock{
  display: inline-block;
}
.hide{
  display: none;
}
.clear {clear:both;overflow:hidden;height:0;}
.left{
    float: left;
}
.right{
  float: right;
}

.page_viewport{
  margin:0 auto;
  overflow: hidden;
  /*border:2px solid red;*/
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.page_wrapper{
  position: relative;
  display: block;
  width: 640px;
  height: 960px;
  overflow: hidden;
  visibility: visible;
  opacity: 0;  
}
.page_slider{
  width: 100%;
  height: 100%;
}
/*-----------------content_wrapper-----------------------*/
.content_wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; 
}

.wrapper0{
  background: url(../image/bg0.png) 0 0 no-repeat; 
  background-size: 100% 100%;
}
.wrapper1{
  background: url(../image/bg1.png) 0 0 no-repeat; 
  background-size: 100% 100%;
}
.wrapper2{
  background: url(../image/bg2.png) 0 0 no-repeat; 
  background-size: 100% 100%;
}
.wrapper3{
  background: url(../image/bg3.png) 0 0 no-repeat; 
  background-size: 100% 100%;
}
.wrapper4{
  background: url(../image/bg4.png) 0 0 no-repeat; 
  background-size: 100% 100%;
}
.wrapper5{
  background: url(../image/bg5.png) 0 0 no-repeat; 
  background-size: 100% 100%;
}
.wrapper6{
  background: url(../image/bg6.png) 0 0 no-repeat; 
  background-size: 100%;
}
.wrapper7{
  background: url(../image/bg7.png) 0 0 no-repeat; 
  background-size: 100%;
}
.wrapper8{
  background: url(../image/bg8.png) 0 0 no-repeat,url(../image/bg81.png) 0 bottom no-repeat;

}
.wrapper9{
  background: url(../image/bg9.png) 0 0 no-repeat; 
  background-size: 100% 100%;
}
.btn{
  width: 72px;
  height: 42px;
  background: url(../image/btn.png) 0 0 no-repeat; 
  position: absolute;
  bottom:35px;
  left:50%;
  margin-left: -36px;
}
.btn2{
  width: 345px;
  height: 58px;
  position: absolute;
  top: 779px;
  left:50%;
  margin-left: -172.5px;
}
.btn3{
  width: 75px;
  height: 75px;
  position: absolute;
  top:42px;
  right: 17px;
}
.gift_btn_box{
  position: absolute;
  bottom: 99px;
  left:33px;  
}
.btn4{
  width: 284px;
  height: 58px;
  line-height: 58px;
  color: #cd0003;
  background-color: #FFF400;
  text-align: center;
  font-size: 40px;
  display: inline-block;
  border-radius:8px;
}
.btn4_hover{
  background-color: #e3f06b;  
}

.mr10{
  margin-right: 10px;
}
.yao{
  width: 256px;
  height: 284px;
  position: absolute;
  top: 413px;
  margin-left: -128px;
  left:50%;
  background: url(../image/yao.png) 0 0 no-repeat; 
 
}
.yaoyiyao{
  transform-origin: 50% 100%;
  -webkit-transform-origin:50% 100%;
  -webkit-animation-timing-function: ease;
   -webkit-transform:rotate(-7deg);
  -webkit-animation-name: yaoyiyao;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes 'yaoyiyao' {
  from {
   -webkit-transform:rotate(-7deg);
  }
  to {
   -webkit-transform:rotate(14deg);
  }
  
}
.wrapper_share{
  position: absolute;
  top:0;
  left: 0;
  z-index: 10;
  background-color:rgba(0,0,0,0.8);
}
.share{    
  width: 100%;
  height: 100%;
  background: url(../image/share.png) 0 0 no-repeat;
}
.hr{
  width: 640px;
  height: 7px;
  background: url(../image/hr.png) 0 0 no-repeat;
}
.title{
  height:58px;
  width: 100%;
}
.title h1{
  line-height: 58px;
  text-align: center;
  color: #fff;
  font-size: 2.5em;
}
.btn_box{
   position: absolute;
   bottom:62px;
   width:100%;
}
.arrows{
  opacity: 0.8;
  -webkit-animation-name: opacityLight;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes 'opacityLight' {
  from {
    opacity: 0.8;
    margin-bottom: 0px;
  }
  50% {
   opacity: 1;
   margin-bottom: 15px;
  }
  to {
    opacity: 0.8;
    margin-bottom: 0px;
  }
}

.info_form{
  margin:42px auto 0;
  width: 364px;
}
.info_txt{
  border:1px solid #fff;
  width: 364px;
  height: 42px;
  background:rgba(0,0,0,0.2); 
}
.info_txt input{
  background: transparent;
  border:0;
  height: 24px;
  line-height: 24px;
  width: 354px;
  font-size: 1.375em;
  text-align: center;
  margin: 8px auto;
  padding: 0;
  display: block;
  color: #fff;
  outline:0;
}
.msg-error{
  color:#ffff00;
  font-size: 1.2em;
  height: 42px;
  width: 364px;
  text-align: center;
  line-height: 42px;
}

.info_sel:before, .info_sel:after {
  content: " ";
  display: table;
}
.info_sel:after {
  clear: both;
}
.info_sel .sel{
  margin-top: 15px;
  overflow: hidden;
  height: 42px;
  border:1px solid #fff;
  background-color:rgba(0,0,0,0.2); 
  width: 175px;
  color:#fff;
  position: relative;
}
.info_sel label{
  color:#fff;
  font-size: 1.375em;
  text-align: center;
  width: 175px; 
  line-height: 42px; 
  height: 42px;
  display: block;
}
 .info_sel select{
    width: 175px;
    height: 42px;
    display: block;
    border:0;
    outline: 0;
    background: transparent;
    -webkit-appearance:none;
    position: absolute;  
    left: 0px;  
    top: 0px;  
    opacity: 0; 
}

.dropdown{
  background: none repeat scroll 0 0 rgba(0,0,0,0.2);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1500;
  width: 175px;
  border: 1px solid #fff;
}
.dropdown ul{
  display: block;
  width: 175px;
}
.dropdown li {
  display: block;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
  width: 175px;
}
.dropdown li a {
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.2em;
}

.only_gift{
  width: 640px;
  height: 460px; 
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;;
}
.bigGift0{
  height: 696px;
  background-image: url(../image/bigGift0.png);  
}
.bigGift1{
  background-image: url(../image/bigGift1.png);
}
.bigGift2{
  background-image: url(../image/bigGift2.png);
}
.bigGift3{
  background-image: url(../image/bigGift3.png);
}
.bigGift4{
  background-image: url(../image/bigGift4.png);
}
.bigGift5{
  background-image: url(../image/bigGift5.png);
}
.bigGift6{
  background-image: url(../image/bigGift6.png);
}
.bigGift7{
  height: 475px;
  background-image: url(../image/bigGift7.png);
}
.gift_panel{
  display: block;
}
.ungift_panel{
  display: none;
}
.ungift{
  width: 640px;
  height: 116px;
  background: url(../image/unGift.png) 0 0 no-repeat;
}
.ungift_label{
  font-size: 1.25em;
  color:#4ad7ff;
  text-align: center;
  line-height: 40px;
  height: 40px;
  margin-top:7px;
}
.gift_label{
  font-size: 1.5625em;
  color:#4ad7ff;
  text-align: center;
  line-height: 32px;
  height: 32px;
}
.downarrows{
  margin: 22px auto 0;  
  width: 21px;
  height: 21px;
  background: url(../image/downarrows.png) 0 0 no-repeat;
}
.hr{
  width: 640px;
  height: 7px;
  background: url(../image/hr.png) 0 0 no-repeat;
}
.title_gift{
  margin-top: 138px;
}
.title_gift span{
  padding: 0 5px;
}
.openGift_list{  
  margin-left:22px;
}
.openGift_list:before, .openGift_list:after {
  content: " ";
  display: table;
}
.openGift_list:after {
  clear: both;
}
.openGift_list li{
  float: left;
  width: 181px;
  margin:66px 0 0 77px;
}
.openGift_list .smaillGiftbg{
  width: 181px;
  height: 172px;
  overflow: hidden;
  background: url(../image/giftbg.png) 0 0 no-repeat;  
}
.openGift_list .smaillGiftbg2{
   background: url(../image/giftbg2.png) 0 0 no-repeat;  
}
.smaillGift{
  width: 150px;
  height: 150px;
  margin: 24px auto 0;
}
.smaillGift0{ 
  background: url(../image/smaillGift0.png) 0 0 no-repeat;
  width: 181px;
  height: 172px; 
  margin: 0;
}
.smaillGift1{ 
  background: url(../image/smaillGift1.png) 0 0 no-repeat; 
}
.smaillGift2{ 
  background: url(../image/smaillGift2.png) 0 0 no-repeat; 
}
.smaillGift3{ 
  background: url(../image/smaillGift3.png) 0 0 no-repeat; 
}
.smaillGift4{ 
  background: url(../image/smaillGift4.png) 0 0 no-repeat; 
}
.smaillGift5{ 
  background: url(../image/smaillGift5.png) 0 0 no-repeat; 
}
.smaillGiftq{
  background: url(../image/smaillGiftq.png) 0 0 no-repeat; 
  width: 181px;
  height: 172px;
  margin: 0;
}
.openGift_list p{
  color: #4ad7ff;
  text-align: center;
  margin-top:23px;
  font-size: 1.2em;
}

/*-----------------content_wrapper-----------------------*/